body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  background-color: white;
  padding: 20px;
  margin: 80px auto;
  max-width: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(85, 107, 47, 0.2);
  text-align: center;
}

h1 {
  color: #556B2F; /* verde musgo */
  margin-bottom: 10px;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #FFD700; /* amarelo */
  color: #000;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #e6c200;
}
